<footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <div class="row">
            <h5 class="white-text">About Us</h5>
            <div class="valign-wrapper">
              <div class="col s3">
                <img src="/img/logo.png" alt="" class="circle responsive-img white" style="padding: 5px;"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9 m10">
                <p class="grey-text text-lighten-4"> <b>Makassar Robotics</b>  <br>
                  <small><i> "Build Your Innovation"</i> <br>Distributor Modul Elektronika </small>
                </p>                        
              </div>           
            </div> 
          </div>
          
          

         
        </div>
        <div class="col l4 s12">
          <div class="row">
            <h5 class="white-text">Marketplace</h5>
            <a href="https://www.tokopedia.com/makassarrobotics"><img class="marketplace-img" src="/img/tokopedia-logo.png" alt=""> </a>
              
          </div>
          <div class="row">
            <h5 class="white-text">Contact</h5> 
            <a href="https://wa.me/+6281244047984"><h6 class="white-text"><i class="fa fa-whatsapp"> (+62) 812-4404-7984</i> </h6></a>          
            <a href="https://www.instagram.com/makassarrobotics/"><h6 class="white-text"><i class="fa fa-instagram"> <small>@</small>makassarrobotics</i></h6></a>
            <a href="https://www.facebook.com/makassarrobotics"><h6 class="white-text"><i class="fa fa-facebook-square"> Makassar Robotics</i></h6></a>
          </div>              
        </div>
        <div class="col l4 s12">
          <div class="row">
            <h5>Store</h5>
            <p class="grey-text text-lighten-4"><i>Jalan Toddopuli 5 stp. 1 no. 5, Kota Makassar, Sulawesi Selatan, 90233</i></p>                   
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.6201158108515!2d119.44938181482891!3d-5.164657796252184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee2ef7ba9170b%3A0xb354cee4763b8fcc!2sMakassar%20Robotics!5e0!3m2!1sid!2sid!4v1585329939798!5m2!1sid!2sid" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          
        </div>
               
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
              Website by <a class="green-text" href="https://www.linkedin.com/in/muhammad-adnan-surya-574966120/">
                Muhammad Adnan Surya</a>
          </div>
          <div class="col s12 m6">
            <div class="right">
                Made with  <a class="red-text text-lighten-1" href="https://materializecss.com/"><b>Materialize</b> </a> 
                and <a class="amber-text text-lighten-1" href="https://firebase.google.com/"><b>Firebase</b> </a>
            </div>
              
          </div>
        </div>
     
      
      </div>
    </div>
  </footer>