<footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Tentang Kami</h5>
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/img/logo.png" alt="" class="circle responsive-img white" style="padding: 5px;"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <p class="grey-text text-lighten-4"> <b>Makassar Robotics</b>  <br>
                <small>Distributor Modul Elektronika</small>
              </p>                        
            </div>           
          </div>          
          <p class="grey-text text-lighten-4">Jl. Toddopuli 5 stp. 1 no. 5, Kota Makassar, Sulawesi Selatan <br>
            <i><small> "Build Your Innovation"</small></i></p>
          <p class="grey-text text-lighten-4"></p>
        </div>        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
              Website by <a class="green-text" href="https://www.linkedin.com/in/muhammad-adnan-surya-574966120/">
                Muhammad Adnan Surya</a>
          </div>
          <div class="col s12 m6">
            <div class="right">
                Made with  <a class="red-text text-lighten-1" href="https://materializecss.com/"><b>Materialize</b> </a> 
                and <a class="amber-text text-lighten-1" href="https://firebase.google.com/"><b>Firebase</b> </a>
            </div>
              
          </div>
        </div>
     
      
      </div>
    </div>
  </footer>