<nav class="light-blue darken-3" role="navigation">
    <div class="nav-wrapper">
     
      <a id="logo-container" href="#" class="brand-logo">

          <div class="hide-on-med-and-up">MksRobotics</div>
          <div class="hide-on-large-only hide-on-small-only">Makassar Robotics</div>
          <div class="hide-on-med-and-down" style="margin-left: 100px;">Makassar Robotics</div>
      </a>
      <ul class="right hide-on-med-and-down" style="margin-right: 100px;">
        <li><a href="#">Coming Soon</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Coming Soon</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>