<nav class="light-blue darken-3 nav-extended" role="navigation">
    <div class="nav-wrapper">
     
      <a id="logo-container" class="brand-logo"
          <% if(page === 'home'){%> 
            href="#" <% } else{ %>
            href="/" <% } %> 
         >

          <div class="hide-on-med-and-up"><%= page.toUpperCase() %> </div>
          <div class="hide-on-large-only hide-on-small-only">Makassar Robotics</div>
          <div class="hide-on-med-and-down" style="margin-left: 100px;">Makassar Robotics</div>
          
      </a>
      
      
      <ul id="menuDiv" class="right hide-on-med-and-down" style="margin-right: 100px;">
        <!-- <li><a href="#">Coming Soon</a></li> -->
        
          <% if (page === 'store') { %>
            <li class="active"><a href="#"><i class="material-icons left">storefront</i>Store</a></li>
          <% } else {%>
            <li><a href="/store"><i class="material-icons left">storefront</i>Store</a></li>
          <% } %>          
        
        
          <% if (page === 'project') { %>
            <li class="active"><a href="#"><i class="material-icons left">work</i>Project</a></li>
          <% } else {%>
            <li><a href="#"><i class="material-icons left">work</i>Project</a></li>
          <% } %>    
        </li>       
        
      </ul>

      <ul id="nav-mobile" class="sidenav show-on-medium-and-down">
        
        <li><div class="user-view" id="mobileDiv">
          <div class="background blue">
            <!-- <img src="img/mksrobotics_logo_long.jpg"> -->
          </div>                   
         
        </div></li>

        <% if (page === 'home') { %>
          <li class="active"><a href="#"><i class="material-icons left">home</i>Home</a></li>
        <% } else {%>
          <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
        <% } %>


        <% if (page === 'store') { %>
          <li class="active"><a href="#"><i class="material-icons left">storefront</i>Store</a></li>
        <% } else {%>
          <li><a href="/store"><i class="material-icons left">storefront</i>Store</a></li>
        <% } %>          
      
      
        <% if (page === 'project') { %>
          <li class="active"><a href="#"><i class="material-icons left">work</i>Project</a></li>
        <% } else {%>
          <li><a href="/project"><i class="material-icons left">work</i>Project</a></li>
        <% } %>
        
       
        <% if (isLogin) { %>  
          <% if (isLogin.roles === 'admin') { %>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Admin</a></li>
            <li><a href="/admin/product"><i class="material-icons left">list_alt</i>List Produk</a></li>   
  
          <% } %>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Akun</a></li>        
          <li><a href="#"><i class="material-icons left">face</i>Profil</a></li>                  
          <li><a href="#" class="logoutBtn"><i class="material-icons left">exit_to_app</i>Logout</a></li>
        <% } %>         
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
    </div>
   
   
  </nav>

  
